/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #5721f2;
    --color-on-surface: #000;
    --black-color: #000000;
    --grey-grade1: #8A8A8A;
    --grey-grade2: #C9C9C9;
    --grey-grade3: #EFEFEF;
    --white-color: #FFFFFF;
}