.product {
    padding: 5rem;
    border-radius: 3rem;
    background-color: var(--white-color);

    & &__header {
        margin-bottom: 5rem;

        h1 {
            font-size: 3.2rem;
            font-weight: 600;
            margin-bottom: .6rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--grey-grade1);
        }
    }

    & &__details {
        display: flex;
        gap: 1.8rem;
    }

    & &__catalogs {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin-bottom: 5rem;
    }

    & &__catalog {
        display: flex;
        justify-content: space-between;
        //gap: 1.8rem;
        position: relative;
        //border: 1px solid red;
    }

    & &__image {
        width: 7.4rem;
        height: 8rem;
        border-radius: .8rem;

        img {
            height: auto;
            //max-width: 100%;
            width: 7.4rem;
            height: 8rem;
            border-radius: .8rem;
        }
    }

    & &__name {

        p{
            font-size: 1.8rem;
            margin-bottom: .8rem;
            font-weight: 500;
        }

        span {
            display: block;
            color: var(--grey-grade1);
            font-size: 1.4rem;

            &:first-of-type {
                margin-bottom: .4rem;
            }
        }
    }

    & &__price {
        font-size: 1.8rem;
        font-weight: 400;
        align-self: flex-end;
        margin-left: -1.3rem;
    }

    hr {
        background-color: var(--grey-grade2);
        height: 1px;
        border: none;
    }

    & &__footer {
        margin-top: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }

    & &__summaries {
        //margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    & &__summary {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        p {
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;

            span {
                color: var(--grey-grade1);

                &:last-of-type {
                    color: var(--black-color);
                }
            }
        }
    }

    & &__total {
        display: flex;
        flex-direction: column;

        p {
            font-size: 2.4rem;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
        }
    }

    & &__buttons {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        button {
            padding: 1.8rem;
            font-size: 1.6rem;
            border-radius: 6rem;
            border: none;
            line-height: 1.76rem;
            cursor: pointer;

            &:first-of-type {
                background-color: var(--black-color);
                color: var(--white-color);

                &:hover {
                    background-color: var(--grey-grade1);
                }

                &:focus {
                    background-color: var(--black-color);
                }
            }

            &:last-of-type {
                border: 1px solid var(--grey-grade2);
                background-color: transparent;
                color: var(--grey-grade1);

                &:hover {
                    border-color: var(--grey-grade1);
                }

                &:focus {
                    border-color: var(--grey-grade2);
                }
            }
        }
    }

    @media screen and (max-width: 400px) {
        padding: 2.4rem;

        
        & &__header {
            margin-bottom: 4.8rem;
        }

        & &__catalogs {
            margin-bottom: 12.5rem;
        }

        & &__footer {
            gap: 4.8rem;
        }

        & &__buttons {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            button {
                font-size: 1.4rem;
                line-height: 1.54rem;
                max-height: 5.1rem;
            }
        }
    }

}