.product {
    padding: 5rem;
    border-radius: 3rem;
    background-color: var(--white-color);

    & &__header {
        margin-bottom: 5rem;

        h1 {
            font-size: 3.2rem;
            font-weight: 600;
            margin-bottom: .6rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--grey-grade1);
        }
    }

    & &__details {
        display: flex;
        gap: 1.8rem;
    }

    & &__catalogs {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin-bottom: 5rem;
    }

    & &__catalog {
        display: flex;
        justify-content: space-between;
        //gap: 1.8rem;
        position: relative;
        //border: 1px solid red;
    }

    & &__image {
        width: 7.4rem;
        height: 8rem;
        border-radius: .8rem;

        img {
            height: auto;
            //max-width: 100%;
            width: 7.4rem;
            height: 8rem;
            border-radius: .8rem;
        }
    }

    & &__name {

        p{
            font-size: 1.8rem;
            margin-bottom: .8rem;
            font-weight: 500;
        }

        span {
            display: block;
            color: var(--grey-grade1);
            font-size: 1.4rem;

            &:first-of-type {
                margin-bottom: .4rem;
            }
        }
    }

    & &__price {
        font-size: 1.8rem;
        font-weight: 400;
        align-self: flex-end;
        margin-left: -1.3rem;
    }

    hr {
        background-color: var(--grey-grade2);
        height: 1px;
        border: none;
    }

    & &__footer {
        margin-top: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }

    & &__summaries {
        //margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    & &__summary {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        p {
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;

            span {
                color: var(--grey-grade1);

                &:last-of-type {
                    color: var(--black-color);
                }
            }
        }
    }

    & &__total {
        display: flex;
        flex-direction: column;

        p {
            font-size: 2.4rem;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
        }
    }

    & &__buttons {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        button {
            padding: 1.8rem;
            font-size: 1.6rem;
            border-radius: 6rem;
            border: none;
            line-height: 1.76rem;
            cursor: pointer;

            &:first-of-type {
                background-color: var(--black-color);
                color: var(--white-color);

                &:hover {
                    background-color: var(--grey-grade1);
                }

                &:focus {
                    background-color: var(--black-color);
                }

                &:has(span) {
                    padding: 1.7rem;

                    span {
                        display: block;
                        height: 2rem;
                        width: 2rem;
                        border: 3px  solid var(--grey-grade1);
                        border-radius: 50%;
                        position: relative;
                        margin: 0 auto;
                        animation: spin 2s ease-in-out 0s infinite forwards;
                        //left: 1rem;

                        &::after {
                            content: '';
                            height: 2rem;
                            width: 2rem;
                            position: absolute;
                            border: 3px  solid var(--grey-grade2);
                            border-radius: 50%;
                            top: 0;
                            left: -.4rem;
                            top: -.4rem;
                            opacity: .7;
                            //left: 0;
                        }
                        &::before {
                            content: '';
                            height: 2rem;
                            width: 2rem;
                            position: absolute;
                            border: 3px  solid var(--grey-grade3);
                            border-radius: 50%;
                            left: -.5rem;
                            top: -.4rem;
                            opacity: .5;
                        }
                    }

                    @keyframes spin {
                        0% {
                            transform: rotateX(0deg) rotateY(30deg) translateZ(.1rem);
                        }

                        50% {
                            transform: rotateX(180deg) rotateY(270deg);
                        }

                        100% {
                            transform: rotateX(360deg) rotateY(360deg) translateZ(-1rem);
                        }
                        
                    }
                }
            }

            &:last-of-type {
                border: 1px solid var(--grey-grade2);
                background-color: transparent;
                color: var(--grey-grade1);

                &:hover {
                    border-color: var(--grey-grade1);
                }

                &:focus {
                    border-color: var(--grey-grade2);
                }
            }
        }
    }

    @media screen and (max-width: 400px) {
        padding: 2.4rem;

        
        & &__header {
            margin-bottom: 4.8rem;
        }

        & &__catalogs {
            margin-bottom: 12.5rem;
        }

        & &__footer {
            gap: 4.8rem;
        }

        & &__buttons {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            button {
                font-size: 1.4rem;
                line-height: 1.54rem;
                max-height: 5.1rem;
            }
        }
    }

}